*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    background-color:#fff;
    color:#525252;
    font-family:'Lato','Arial','sens-serif';
    font-weight: 100;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.row{
    max-width: 1140px;
    margin:0 auto;
}
header{
    background:url('../img/img_band_la.jpg');
    height:100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.header-content{
    position:absolute;
    max-width: 1140px;
    top:55%;
    left:15%;
    
}
h1{
    margin:0;
    font-size: 200%;
    font-weight: 300;
    text-transform: uppercase;
    word-spacing: 3px;
    letter-spacing: 1px;
    color:whitesmoke;
}
p{
    color:darkgray;
}
.btn{
border: 1px solid orangered;
display:inline-block;
padding: 10px 30px;
text-decoration: none;
border-radius:20px;
}
.btn-full{
 background:orangered;
 color:white;
}
.btn-ghost{
    color:white;
   
}
.btn-ghost:hover{
    background: orangered;
    -webkit-transition: width 2s; /* Safari */
    transition: background .5s;
}
img{
    height: 100px;
    float: left;
    margin-top: 20px;
}
.main-nav{
    float:right;
    list-style-type: none;    
    margin-top: 20px;
}
.main-nav li{
    display: inline;
    padding-left: 40px;
    
}
.main-nav li a:link,
.main-nav li a:visited{
    padding:8px 0 8px 0;
    color:white;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}
.main-nav li a:active,
.main-nav li a:hover{
    transition:border-bottom .5s;
    border-bottom: 3px solid orangered;
    
}
.contact{
    background:url('../img/contactus.jpg');
    height:100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}